<h3 id="loginHeader"><i class="fas fa-users"></i> ShareYourThoughts</h3>
<div class="section">
    <p class="lead"><strong>Share your thoughts with friends</strong> </p>
</div>

    <form id="register-form" class="col s8 center-align m6 offset-m3">
     <div class="row">
        <div class="input-field col s8">
         <i class="material-icons prefix">account_circle</i>
          <input id="firstName" type="text" class="validate">
          <label for="firstName">First Name</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8">
         <i class="material-icons prefix">account_circle</i>
          <input id="lastName" type="text" class="validate">
          <label for="lastName">Last Name</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
    </div>
      <div class="row">
        <div class="input-field col s8">
         <i class="material-icons prefix">mail</i>
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
      </div>
    </form>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn  btn-radius red darken-1">
        <i class="fab fa-google left"></i>Log In With Google
    </a>
</div>